$primary-color:#FCAA67;
$secondary-color:#EDE580;
$third-color:#CD533B;
$h4-title:#E7E7E7;
// buttons
$dishOdd:rgba(103, 192, 252, 0.5);
$dishEven:rgba(252,170,103,0.5);

// shadow
$shadow:rgba(0, 0, 0, .3);


$footer-p:#60492C;