@use './color.scss' as colorsheet;
@use './layout.scss' as layout;

*{
    margin:0px;
    font-family: 微軟正黑體;
}

nav{
    z-index: 2;
    position: sticky;
    top:0;
    @include layout.flexlayout(space-between,center);
   
    background-color: colorsheet.$primary-color;
    height: 40px;
    padding: 5px 0;
    .logo{
        padding: 0 30px;
        &>img{
            width: 4rem;
        }
    }

    .navbar{
        ul{
            @include layout.flexlayout(center,center);
            flex-direction: row;
            list-style-type: none;
            padding: 0 5px;
            a{
                text-decoration: none;
                margin: 0 10px;
                font-weight: 900;
                padding: 10px 10px;
                font-size:1rem;
                color:colorsheet.$footer-p;

                &:hover{
                    cursor: pointer;
                    border-radius: 0px;
                    color:colorsheet.$h4-title;
                    background-color:colorsheet.$third-color;
                }
            }
        }
        .hambur{
            position: absolute;
            display: none;
            margin: 2px 2px;
            right: 10px;
            height: 40px;
            width: 40px;
            border: none;
            background-color: colorsheet.$primary-color;
            div{
                position: relative;
                margin: 5px 0px;
                width: 25px;
                height: 3px;
                background-color: colorsheet.$h4-title;
                border-radius: 3px;
            }
        }
    }
}

.background{
    @include layout.flexlayout();
    height:30rem;

    background-image: url('./img/slider-03.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center center;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    h1{
        text-align: center;
        color: colorsheet.$h4-title;
        font-size: 3rem;
    }
}

.section{
    text-align: center;
    padding: 1rem 0 ;
    margin: 30px 0;
    h2{
        font-size: 2rem;
        &::before{
            content: ' ';
            border: 5px solid colorsheet.$primary-color;
            background-color: colorsheet.$primary-color;
            margin-right: 5px;
        }
    }
    &> div{
        margin:  60px 0;
        p{
            padding: 0 10px;
            line-height: 1.5rem;
        }
    }
    .order button{
        cursor: pointer;
        margin: 0 10px;
        height: 5rem;
        width: 8rem;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        border-radius:5px;
        box-shadow: 2px 2px .4rem colorsheet.$shadow;
        &:nth-child(1){
            background-color: colorsheet.$primary-color;
        }
        &:nth-child(2){
            background-color: colorsheet.$secondary-color;
        }
    }
    .menu-box{
        @include layout.flexlayout(center,center);
        flex-wrap: wrap;
        .dish{
            position: relative;
            width: 15em;
            height: 15em;
            background-size:cover;
            background-position: center center;
            &:hover div{
                opacity: 1;
                transition: 0.3s;
                h4{

                    transition: 0.3s ease-in-out;
                    transform: translateY(0);
                }
            }
            &:nth-child(odd){
                background-image: url('./img/gallery-img-01.jpg');
                div:hover{
                    background-color:colorsheet.$dishOdd;
                }
            }
            &:nth-child(even){
                background-image: url('./img/gallery-img-02.jpg');
                div:hover{
                    background-color:colorsheet.$dishEven;
                }
            }
            div{
                position: absolute;
                @include layout.flexlayout();
                width:100%;
                height:100%;
                background-color: transparent;
                opacity: 0;
                font-size: 1.5rem;
                h4{
                    color:colorsheet.$h4-title;
                    transform: translateY(-20px);
                }
            }
        }
    }
    .map{
        width: 90%;
       height: 70vh;
    }
}


footer{
    @include layout.flexlayout(space-around,center);
  

    padding: 30px 0px;
    background-color: colorsheet.$primary-color;
    div p{ 
        color:colorsheet.$footer-p;
    }
    .logo{
        text-align: center;
        img{
            width: 8rem;
        }
        .socialMedia a{
            margin: 0 1px;
            text-decoration: none;
            color:colorsheet.$footer-p;
            &:hover{
                transition: 0.3s;
                color:colorsheet.$h4-title;
            }
            &:nth-child(1):after{
                content: ' Facebook ';
            }
            &:nth-child(2):after{
                content: ' Instargam ';
            }
            &:nth-child(3):after{
                content: ' Youtube ';    
            }
            i{
                display: none;
                opacity: 0;
            }
        }
    }
}


.gotoTop{
    cursor: pointer;
    position: fixed;
    bottom: 0;
    width: 40px;
    height: 40px;
    background-color:rgba(252,170,103,.8);;
    border: none;
    border-radius: 50%;
    margin: 20px;
    right: 0;
    z-index: 100;
    color:colorsheet.$h4-title;
    box-shadow: 0 2px .3rem colorsheet.$shadow;
    &:hover + i{
        transform: translateY(-20px);
    }
}



